<br>

<form method="post" action="/suppliers/add_new_supplier">
  <label for="supplier-name-field">Name:</label>
  <input
  type="text"
  name="supplier_name"
  id="supplier-name-field"
  />

<br>

  <label for="supplies-type-field">Select a Supply Type:</label>
  <select name="supplies_type" id="supplies-type">
    <option value="Tinned Foods">Tinned Foods</option>
    <option value="Fresh Foods">Fresh Foods</option>
    <option value="Frozen Foods">Frozen Foods</option>
    <option value="Soft Drinks">Soft Drinks</option>
    <option value="Alcoholic Drinks">Alcholic Drinks</option>
    <option value="Dairy">Dairy</option>
    <option value="Bathroom">Fresh Foods</option>
    <option value="Food Cupboard">Food Cupboard</option>
    <option value="Confectionary">Confectionary</option>
    <option value="Snacks">Snacks</option>
  </select>

<br>

  <label for="contact-name-field">Contact Name:</label>
  <input
  type="text"
  name="contact_name"
  id="contact-name-field"
  />

<br>

  <label for="email-field">Email:</label>
  <input
  type="text"
  name="email"
  id="email-field"
  />

<br>

  <label for="phone-field">Phone:</label>
  <input
  type="text"
  name="phone"
  id="phone-field"
  />

<br>
<br>

  <input type="submit" value="Add New Supplier">
</form>
