<body>
<p>Welcome to the CodeClan Stock Management System (version 1.0)</p>
<br>

<img src="/images/shelves.jpg" alt="shelves";>


<div class="footer">
  <p>Author: Kevin McEwan, 2018</p>
</div>

</body>
