<!DOCTYPE html>
<html>
<head>
  <title>Kevin's Shop</title>
  <link rel="stylesheet" type="text/css" href="/tables.css">
  <link rel="stylesheet" type="text/css" href="/buttons.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>



<h2>CodeClan Stock Management System</h2>
<body>
  <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: lightblue;
   color: black;
   text-align: center;
   font-size: 15px;
}
</style>

  <div class="btn-group">
    <form method="get" action="/">
      <button>Home Page</button>
    </form>
    <form method="get" action="/products">
      <button>Product List</button>
    </form>
    <form method="get" action="/products/re-stock_required">
      <button>Re-Stock Required</button>
    </form>
    <form method="get" action="/wholesalers">
      <button>Wholesaler List</button>
    </form>
    <form method="get" action="/stock_supply">
      <button>Stock Supply</button>
    </form>
</div>


  <%= yield %>
</body>
</html>
