<!DOCTYPE html>
<html>
<head>
  <title>Kevin's Shop</title>
  <link rel="stylesheet" type="text/css" href="/tables.css">
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/">Home Page</a>
    </li>
    <li>
      <a href="/products">Product List</a>
    </li>
    <li>
      <a href="/suppliers">Supplier Information</a>
    </li>
    <li>
      <a href="/products/add_new">Add New Product</a>
    </li>
    <li>
      <a href="/products/stock_order">Stock Order</a>
    </li>
    <li>
      <a href="/products/mark_up">Mark Up</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
