<!DOCTYPE html>
<html>
<head>
  <title>Kevin's Shop</title>
  <link rel="stylesheet" type="text/css" href="/tables.css">
  <link rel="stylesheet" type="text/css" href="/buttons.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" href="/images/shelves.jpg"/>
</head>



<h2>CodeClan Shop Inventory System</h2>
<body>

  <div class="btn-group">
    <form method="get" action="/">
      <button>Home Page</button>
    </form>
    <form method="get" action="/products">
      <button>Product List</button>
    </form>
    <form method="get" action="/products/add_new_product">
      <button>Add New Product</button>
    </form>
    <form method="get" action="/products/re-stock_required">
      <button>Re-Stock Required</button>
    </form>
    <form method="get" action="/products/profit_margin">
      <button>Profit Margin</button>
    </form>
    <form method="get" action="/suppliers">
      <button>Supplier List</button>
    </form>
    <form method="get" action="/suppliers/add_new_supplier">
      <button>Add New Supplier</button>
    </form>
</div>


  <%= yield %>
</body>
</html>
