<br>

<br>

<table cellpadding=10px>
  <tr>
    <th>Wholesaler Name</th>
    <th>Product</th>
    <th>Supply Price</th>
  </tr>
  <% @stock_supply.each do |stock_supply| %>
    <tr>
      <td><%= result = stock_supply.wholesaler.wholesaler_name %></td>
      <td><%= stock_supply.product.name %></td>
      <td><%= "£ " '%.2f' % stock_supply.supply_price %></td>
    </tr>
  <% end %>
</table>
