<br>

<form method="post" action="/products">
  <label for="name-field">Name:</label><br>
  <input
  type="text"
  name="name"
  id="name-field"
  />

  <br>
  <br>

  <label for="description-field">Description:</label><br>
  <input
  type="text"
  name="description"
  id="description-field"
  />
  <br>
  <br>

  <label for="quantity-field">Quantity:</label><br>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  />

  <br>
  <br>

  <label for="customer-price-field">Customer Price:</label><br>
  <input
  type="number"
  step="0.01"
  name="customer_price"
  id="customer-price-field"
  />
  <br>
  <br>

  <label for="product-type-field">Select a Product Type:</label><br>
  <select name="product_type" id="product-type">
    <option value="Grocery">Grocery</option>
    <option value="Fresh Foods">Fresh Foods</option>
    <option value="Frozen Foods">Frozen Foods</option>
    <option value="Non-Food">Soft Drinks</option>
    <option value="Alcohol">Alcholic Drinks</option>
  </select>
  <br>
  <br>

  <label for="desired-quantity-field">Desired Quantity:</label><br>
  <input
  type="number"
  name="desired_quantity"
  id="desired-quantity-field"
  />

  <br>
  <br>

  <div class="btn-group2">
    <form type="submit">
      <button>Add New Product</button>
      <form>
      </div>

    </form>
