.btn-group button {
    background-color: gray;
    border: 1px solid black;
    color: white;
    padding: 10px 24px;
    float: left;
}


.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


.btn-group button:hover {
    background-color: gray;
}

.button {
  background-color: orange;
  border: 1px solid red;
  color: black;
  padding: 10px 24px;
}
