.btn-group button {
    background-color: gray;
    border: 1px solid black;
    color: white;
    padding: 10px 24px;
    float: left;
}


.btn-group:after {
    content: "";
    clear: both;
    display: table;
}


.btn-group button:hover {
    background-color: gray;
}

.btn-group2 button {
    background-color: lightgray;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 24px;
    float: left;
}


.btn-group2:after {
    content: "";
    clear: both;
    display: table;
}


.btn-group2 button:hover {
    background-color: gray;
}
