table, th, td {
  text-align: center;
  padding: 5px;
}

table, th, td {
  border-collapse: collapse;
  border: 2px solid black;
  font-family: arial;
}

th {
  background-color: slategray;
}

tr:nth-child(even) {
    background-color: lightgray;
}
