<br>

<form method="post" action="/wholesalers">
  <label for="wholesaler-name-field">Name:</label>
  <input
  type="text"
  name="wholesaler_name"
  id="wholesaler-name-field"
  />

<br>


  <label for="contact-name-field">Contact Name:</label>
  <input
  type="text"
  name="contact_name"
  id="contact-name-field"
  />

<br>

  <label for="email-field">Email:</label>
  <input
  type="text"
  name="email"
  id="email-field"
  />

<br>

  <label for="phone-field">Phone:</label>
  <input
  type="text"
  name="phone"
  id="phone-field"
  />

<br>
<br>

  <input type="submit" value="Add New wholesaler">
</form>
